.rubik {
  font-family: 'Rubik', sans-serif;
 }

.donation {
  pointer-events: none;
}

.donation--visible {
  pointer-events: auto;
}

.donation-scrim {
  transition: all 0.375s cubic-bezier(0.4, 0.2, 0, 1);
  opacity: 0;
}

.donation-iframe {
  transition: all 0.375s cubic-bezier(0.4, 0.2, 0, 1);
  transform: translateX(100%);
}

.donation--visible .donation-scrim {
  opacity: 1;
}

.donation--visible .donation-iframe {
  transform: translateX(0);
}
